body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-transform: uppercase;
}

li{
    margin-bottom: 3em;
}

li::marker{
    font-weight: 900;
}

li>p{
    font-weight: 300;
}

p>span{
    font-weight: 900;
}

.bold{
    font-weight: 600;
}

.underline{
    text-decoration: underline;
}